$tablet-min-width: 640px;
$desktop-min-width: 1080px;
$effectDuration: 0.3s;
$green-color: #00cc00;
$dark-grey-color: rgba(0, 0, 0, 0.50);
$blue-color: #2196f3;
$black-color: #081f32;
$grey-color: #8e8e93;
$dark-grey-color: #6e798c;